@media only screen and (min-width: 300px) {
  .headerShadow {
    justify-content: center;
  }
}

@media only screen and (min-width: 900px) {
  .headerShadow {
    justify-content: start;
  }
  .headerShadow h1 {
    margin-left: 150px;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  height: 150px;
  background-image: url(./img/clouds-sky-header-2053-1024x300\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.headerShadow {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.377);
  height: 100%;
  width: 100%;
}