@media only screen and (min-width: 300px) and (max-width: 800px) {
  .detailsWrapper {
    display: none;
  }
}


@media only screen and (min-width: 300px) and (max-width: 1500px) {
  .date {
    font-size: 18px;
  }

  .detailsWrapper {
    font-size: 12px;
    padding: 0px;
  }

  .infoWrapper {
    width: 220px;
    height: 30%;
  }

  .infoWrapper h1 {
    font-size: 28px;
  }

  .infoWrapper img {
    width: 80px;
  }

}

@media only screen and (min-width: 1501px) {
  .date {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .infoWrapper {
    width: 300px;
    height: 100%;
  }

  .infoWrapper img {
    width: 100px;
  }
}

.infoWrapper {
  margin-top: 25px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
}

.infoWrapper:hover {
  background: linear-gradient(to left, #4b6cb7, #182848);
}

.infoWrapper h1 {
  margin: 10px;
}

.date {
  font-weight: bold;
}