@media only screen and (min-width: 300px) and (max-width: 700px) {
  .inputWrapper {
    justify-content: center;
  }

  .inputWrapper label {
    display: none;
  }
}

@media only screen and (min-width: 701px) {
  .inputWrapper {
    height: 30px;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: #00163E;
}

.inputWrapper label {
  margin-left: 40px;
  margin-right: 10px;
  color: white;
}

button {
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.712);
  font-size: 16px;
}